<h1>Listing memberships</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Beer club</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= link_to membership.user.username, membership.user %></td>
        <td><%= link_to membership.beer_club.name, membership.beer_club %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Join a new club', new_membership_path, class: 'btn btn-primary' %>
